@font-face{
  font-family: "Virgo";
  src : url("./fonts/virgo/Virgo.ttf");
}
@font-face{
  font-family: "Dressedless Pro";
  src : url("./fonts/Dressedless Pro/DressedlessProRegular.ttf");
}
@font-face{
  font-family: "EFour Digital Pro";
  src : url("./fonts/EFour Digital Pro/Efourpro.ttf");
}
@font-face{
  font-family: "Terminator Genisys";
  src : url("./fonts/Terminator Genisys/TerminatorGenisys.ttf");
}

